name: Release to nuget.org
on:
  workflow_dispatch:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Get version from git tag
      id: get-tag-version
      run: |
        echo "version3=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
        echo "version4=$(echo ${GITHUB_REF_NAME} | cut -d'-' -f1).0" >> $GITHUB_OUTPUT
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set version in Directory.Build.props
      run: |
        sed -i 's/<AssemblyVersion>.*<\/AssemblyVersion>/<AssemblyVersion>${{ steps.get-tag-version.outputs.version4 }}<\/AssemblyVersion>/' Directory.Build.props
        sed -i 's/<FileVersion>.*<\/FileVersion>/<FileVersion>${{ steps.get-tag-version.outputs.version4 }}<\/FileVersion>/' Directory.Build.props
        sed -i 's/<PackageVersion>.*<\/PackageVersion>/<PackageVersion>${{ steps.get-tag-version.outputs.version3 }}<\/PackageVersion>/' Directory.Build.props
        sed -i 's/<Version>.*<\/Version>/<Version>${{ steps.get-tag-version.outputs.version3 }}<\/Version>/' Directory.Build.props
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
          6
          7
          8
          9
    - name: Build
      run: dotnet build -c Release
    - name: Test
      run: dotnet test -c Release --no-build
    - name: Pack nugets
      run: dotnet pack -c Release --no-build --output .
    - name: Push to NuGet
      run: dotnet nuget push "*.nupkg" --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
    - name: Create a GitHub Release
      run: gh release create ${{ steps.get-tag-version.outputs.version3 }} --verify-tag --generate-notes
      env:
         GITHUB_TOKEN: ${{secrets.GITHUBB_TOKEN}}
