name: Release to nuget.org
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Get version from git tag
      id: get-tag-version
      run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
    - name: Build
      run: dotnet build -c Release
    - name: Test
      run: dotnet test -c Release --no-build
    - name: Pack nugets
      #run: dotnet pack -c Release --no-build --output .
      run: dotnet pack -c Release /p:PackageVersion=${{ steps.get-tag-version.outputs.version }}
    #- name: Push to NuGet
     # run: dotnet nuget push "*.nupkg" --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
    - name: Create a GitHub Release
      run: gh release create ${{ steps.get-tag-version.outputs.version }}
      env:
         GITHUB_TOKEN: ${{secrets.GITHUBB_TOKEN}}
